body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #2b2b2b;
}

.bgc {
  background: -webkit-gradient(linear, left top, left bottom, from(#eaf4f7), to(#fff));
  background: linear-gradient(180deg, #eaf4f7 0%, #fff 100%);
  padding-bottom: 79.625px;
}
@media screen and (min-width: 768px) {
  .bgc {
    padding-bottom: 0;
  }
}

.header {
  max-width: calc(100% - 30px);
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__inner {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
  }
}

.header__logo a {
  display: inline-block;
  padding: 24px 0;
}
.header__logo a img {
  width: 160px;
  display: block;
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 41px;
    gap: 1px;
  }
}

.header__link {
  display: inline-block;
  padding: 26px 22px 34px;
  font-weight: 500;
}

.header__slide-line {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__slide-line {
    display: block;
    position: absolute;
    top: 0;
    width: 122px;
    height: 5px;
    background-color: #2082df;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.header__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: block;
    color: #f6f7f7;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 9px 51px 9px 54px;
    border-radius: 48px;
    background: -webkit-gradient(linear, left top, right top, color-stop(1.75%, #2188de), color-stop(97.75%, #2bcbc6));
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
    -webkit-box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 3px;
  }
}

.drawer-icon {
  width: 40px;
  height: 20px;
  position: relative;
  top: -6px;
  left: -2px;
}
@media screen and (min-width: 768px) {
  .drawer-icon {
    display: none;
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 10px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 20px;
}
.drawer-icon__bar svg {
  position: absolute;
  top: 0;
  left: 0;
}

.mv {
  max-width: calc(100% - 30px);
  margin: 0 auto;
  margin-top: 13px;
}
@media screen and (min-width: 768px) {
  .mv {
    max-width: calc(100% - 60px);
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .mv__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px 50px;
    max-width: 1180px;
    margin: 0 auto;
  }
}

.mv__img {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv__img {
    margin-top: 23px;
  }
}
.mv__img img {
  width: 398px;
}
@media screen and (min-width: 768px) {
  .mv__img img {
    width: 650px;
  }
}

.mv__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv__content {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

.mv__logo {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .mv__logo {
    margin-top: 22px;
  }
}
.mv__logo img {
  width: 250px;
}

.mv__lead {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .mv__lead {
    font-size: 26px;
    margin-top: 24px;
  }
}

.mv__description {
  line-height: 200%;
  margin-top: 20px;
  padding-left: 3px;
}

.mv__button {
  margin-top: 30px;
}
.mv__button a {
  color: #f6f7f7;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  display: inline-block;
  padding: 9px 51px 9px 54px;
  border-radius: 48px;
  -webkit-box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  background: -webkit-gradient(linear, left top, right top, color-stop(1.75%, #2188de), color-stop(97.75%, #2bcbc6));
  background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
}

.blog {
  padding: 60px 38px 60px 30px;
}
@media screen and (min-width: 768px) {
  .blog {
    padding: 100px 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blog {
    padding: 100px 47px;
  }
}

.blog__inner {
  max-width: 360px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .blog__inner {
    max-width: 1120px;
  }
}

@media screen and (min-width: 768px) {
  .blog__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blog__title {
    margin: 0 33px;
  }
}

.blog__title-main {
  color: #228ddd;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
  display: block;
}

.blog__title-sub {
  color: #228bde;
  font-size: 14px;
  letter-spacing: 2.66px;
  display: block;
  margin-top: 3px;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16.4px;
  margin-top: 45px;
}
@media screen and (min-width: 768px) {
  .blog__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 34px 20px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blog__list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
  }
}

.blog__item {
  border-radius: 4px;
  background: var(--rgb-255255255, #fff);
  -webkit-box-shadow: 5px 7px 34px 0px #f1f1f1;
          box-shadow: 5px 7px 34px 0px #f1f1f1;
  padding: 12px 15px 13px;
  margin: 0 auto;
}

.blog__item-img-wrapper {
  position: relative;
}

.blog__item-label {
  position: absolute;
  width: 100px;
  background: #2392db;
  color: var(--rgb-255255255, #fff);
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 3px 32px 4px;
  top: 0;
  right: 0;
}

.blog__item-title {
  font-size: 15px;
  font-weight: 700;
  margin-top: 6px;
}

.blog__item-text {
  font-size: 13px;
  margin-top: 5px;
}

.blog__button {
  margin-top: 46px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .blog__button {
    margin-top: 46px;
    margin-left: 2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blog__button {
    margin-top: 61px;
    margin-left: 0;
    margin-right: 1px;
  }
}
.blog__button a {
  color: #f6f7f7;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  display: inline-block;
  padding: 9px 51px 9px 54px;
  border-radius: 48px;
  -webkit-box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  background: -webkit-gradient(linear, left top, right top, color-stop(1.75%, #2188de), color-stop(97.75%, #2bcbc6));
  background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
}