body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #2b2b2b;
}

.bgc {
  background: -webkit-gradient(linear, left top, left bottom, from(#eaf4f7), to(#fff));
  background: linear-gradient(180deg, #eaf4f7 0%, #fff 100%);
  padding-bottom: 80px;
}

.header {
  max-width: calc(100% - 30px);
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

.header__logo a {
  display: inline-block;
  padding: 24px 0;
}
.header__logo a img {
  width: 160px;
  display: block;
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__link {
  display: inline-block;
  padding: 26px 22px;
  font-weight: 500;
}

.header__slide-line {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__slide-line {
    display: block;
    position: absolute;
    top: 0;
    width: 122px;
    height: 5px;
    background-color: #2082df;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.header__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: block;
    color: #f6f7f7;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 9px 54px;
    border-radius: 48px;
    background: -webkit-gradient(linear, left top, right top, color-stop(1.75%, #2188de), color-stop(97.75%, #2bcbc6));
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
    -webkit-box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  }
}

.drawer-icon {
  width: 40px;
  height: 20px;
  position: relative;
  top: -1.5px;
  left: -1.5px;
}
@media screen and (min-width: 768px) {
  .drawer-icon {
    display: none;
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 10px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 20px;
}
.drawer-icon__bar svg {
  position: absolute;
  top: 0;
  left: 0;
}

.mv {
  max-width: calc(100% - 30px);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .mv {
    max-width: calc(100% - 60px);
  }
}

@media screen and (min-width: 768px) {
  .mv__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 31px 30px 50px;
    max-width: 1180px;
    margin: 0 auto;
  }
}

.mv__img {
  text-align: center;
  margin-top: 20px;
}
.mv__img img {
  width: 398px;
}
@media screen and (min-width: 768px) {
  .mv__img img {
    width: 650px;
  }
}

.mv__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv__content {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

.mv__logo {
  margin-top: 40px;
}
.mv__logo img {
  width: 250px;
}

.mv__lead {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .mv__lead {
    font-size: 26px;
    margin-top: 24px;
  }
}

.mv__description {
  line-height: 200%;
  margin-top: 20px;
}

.mv__button {
  margin-top: 30px;
}
.mv__button a {
  color: #f6f7f7;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  display: inline-block;
  padding: 9px 54px;
  border-radius: 48px;
  -webkit-box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  background: -webkit-gradient(linear, left top, right top, color-stop(1.75%, #2188de), color-stop(97.75%, #2bcbc6));
  background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
}