@use "sass:map";

$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #2b2b2b;
// $background-base: #fafafa;
// $color-key1: #f5810e;
// $color-key2: #fabe00;
$color-gradation: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
$background-gradation: linear-gradient(180deg, #eaf4f7 0%, #fff 100%);

$width-inner: calc(1280px - 25px * 2);

$breakpoints: (
  sp: "not screen and (min-width: 768px)",
  tb: "screen and (min-width: 768px) and (max-width: 1024px)",
  pc: "screen and (min-width: 768px)",
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-family: $font-family-ja;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
}

.bgc {
  background: $background-gradation;
  padding-bottom: calc(80px - 0.375px);

  @include mq(pc) {
    padding-bottom: 0;
  }
}

// header
.header {
  max-width: calc(100% - 15px * 2);
  margin: 0 auto;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include mq(pc) {
    max-width: calc(1280px - 40px * 2 + 25px * 2);
    margin: 0 auto;
    padding: 0 25px;
  }
}

.header__logo {
  a {
    display: inline-block;
    padding: 24px 0;

    img {
      width: 160px;
      display: block;
    }
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
    align-items: center;
    margin-left: 41px;
    gap: 1px;
  }
}

.header__link {
  display: inline-block;
  padding: 26px 22px 34px;
  font-weight: 500;
}

.header__slide-line {
  display: none;

  @include mq(pc) {
    display: block;
    position: absolute;
    top: 0;
    width: 122px;
    height: 5px;
    background-color: #2082df;
    transition: all 0.3s;
  }
}

.header__button {
  display: none;

  @include mq(pc) {
    display: block;
    color: #f6f7f7;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 9px 51px 9px 54px;
    border-radius: 48px;
    background: $color-gradation;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 3px;
  }
}

.header__open {
}

.drawer-icon {
  width: 40px;
  height: 20px;
  position: relative;
  top: -6px;
  left: -2px;

  @include mq(pc) {
    display: none;
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;

  &:nth-of-type(2) {
    top: 10px;
  }

  &:nth-of-type(3) {
    top: 20px;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

// mv
.mv {
  max-width: calc(100% - 15px * 2);
  margin: 0 auto;
  margin-top: 13px;

  @include mq(pc) {
    max-width: calc(100% - 30px * 2);
    margin-top: 0;
  }
}

.mv__inner {
  @include mq(pc) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 50px;
    max-width: calc(1120px + 30px * 2);
    margin: 0 auto;
  }
}

.mv__img {
  text-align: center;

  @include mq(pc) {
    margin-top: 23px;
  }

  img {
    width: 398px;

    @include mq(pc) {
      width: 650px;
    }
  }
}

.mv__content {
  text-align: center;

  @include mq(pc) {
    text-align-last: left;
  }
}

.mv__logo {
  margin-top: 40px;

  @include mq(pc) {
    margin-top: 22px;
  }

  img {
    width: 250px;
  }
}

.mv__lead {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;

  @include mq(pc) {
    font-size: 26px;
    margin-top: 24px;
  }
}

.mv__description {
  line-height: 200%;
  margin-top: 20px;
  padding-left: 3px;
}

.mv__button {
  margin-top: 30px;

  a {
    color: #f6f7f7;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    display: inline-block;
    padding: 9px 51px 9px 54px;
    border-radius: 48px;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  }
}

// blog
.blog {
  padding: 60px 38px 60px 30px;

  @include mq(pc) {
    padding: 100px 80px;
  }

  @include mq(tb) {
    padding: 100px 47px;
  }
}

.blog__inner {
  max-width: 360px;
  margin: 0 auto;

  @include mq(pc) {
    max-width: calc(1280px - 80px * 2);
  }
}

.blog__title {
  @include mq(pc) {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  @include mq(tb) {
    margin: 0 33px;
  }
}

.blog__title-main {
  color: #228ddd;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
  display: block;
}

.blog__title-sub {
  color: #228bde;
  font-size: 14px;
  letter-spacing: 2.66px;
  display: block;
  margin-top: 3px;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16.4px;
  margin-top: 45px;

  @include mq(pc) {
    grid-template-columns: repeat(3, 1fr);
    gap: 34px 20px;
    margin-top: 40px;
  }

  @include mq(tb) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
  }
}

.blog__item {
  border-radius: 4px;
  background: var(--rgb-255255255, #fff);
  box-shadow: 5px 7px 34px 0px #f1f1f1;
  padding: 12px 15px 13px;
  margin: 0 auto;
}

.blog__item-img-wrapper {
  position: relative;
}

.blog__item-img {
}

.blog__item-label {
  position: absolute;
  width: 100px;
  background: #2392db;
  color: var(--rgb-255255255, #fff);
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 3px 32px 4px;
  top: 0;
  right: 0;
}

.blog__item-content {
}

.blog__item-title {
  font-size: 15px;
  font-weight: 700;
  margin-top: 6px;
}

.blog__item-text {
  font-size: 13px;
  margin-top: 5px;
}

.blog__button {
  margin-top: 46px;
  text-align: center;

  @include mq(pc) {
    margin-top: 46px;
    margin-left: 2px;
  }

  @include mq(tb) {
    margin-top: 61px;
    margin-left: 0;
    margin-right: 1px;
  }

  a {
    color: #f6f7f7;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    display: inline-block;
    padding: 9px 51px 9px 54px;
    border-radius: 48px;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  }
}
// news
.news {
  padding: 60px 0;

  @include mq(pc) {
    padding: 114px 0 99px;
    max-width: calc(1280px - 80px * 2);
    margin: 0 auto;
  }
}

.news__inner {
  padding: 0 15px;

  @include mq(pc) {
    padding-left: calc(95px / 1120px * 100%);
    padding-right: calc(95px / 1120px * 100%);
  }
}

.news__title {
  color: #238fdc;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  position: relative;
  margin-left: 2px;

  @include mq(pc) {
    font-size: 36px;
    letter-spacing: 3.6px;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #2bc8c8;
    bottom: -9px;
    left: calc(50% - 2px);
    transform: translateX(-50%);

    @include mq(pc) {
      bottom: -5px;
    }
  }
}

.news__list {
  margin-top: 55px;

  @include mq(pc) {
    margin-top: 65px;
  }
}

.news__item {
  padding: 10.7px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  @include mq(pc) {
    flex-direction: row;
    align-items: center;
    gap: 0;
    padding: 12px 0;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #e3e3e3;
  }
}

.news__date {
  color: #333;
  font-size: 14px;

  @include mq(pc) {
    font-size: 16px;
    width: 149px;
    flex-shrink: 0;
    white-space: nowrap;
  }
}

.news__headline {
  color: #111;
  font-size: 15px;

  @include mq(pc) {
    font-size: 16px;
  }
}

.news__controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(pc) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }
}

.news__pagination {
  margin-top: 46px;
  display: flex;
  gap: 20px;
  padding: 0 13px;
  flex-wrap: wrap;

  @include mq(pc) {
    margin-top: 0;
    padding: 0;
  }
}

.news__pagination-button {
  color: #707070;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.44px;
  width: 36px;
  height: 36px;
  flex-shrink: 0;

  border: 1px solid var(--828282, #828282);
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__pagination-button--current {
  color: #fff;
  background: #228ddd;
  border: 0;
}

.news__archive {
  color: #2392db;
  font-weight: 700;
  letter-spacing: 3px;
  display: block;
  width: fit-content;
  padding: 4px 21px 4px 23px;
  border-radius: 2px;
  border: 1px solid #2392db;
  box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  margin-top: 30px;

  @include mq(pc) {
    margin: 0;
  }
}

// concept
.concept {
  padding: 60px 0;
  background: #f4fbff;

  @include mq(pc) {
    padding: 100px 0;
  }
}

.concept__inner {
  padding: 0 20px;

  @include mq(pc) {
    padding: 0 30px;
    max-width: calc(980px + 30px * 2);
    margin: 0 auto;
  }
}

.concept__wrapper {
  @include mq(pc) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    // gap: 80px;
    gap: clamp(10px, 6.25vw, 80px);
  }
}

.concept__img {
  text-align: center;

  img {
    width: 310px;

    @include mq(pc) {
      width: 450px;
    }
  }
}

.concept__content {
}

.concept__title {
  color: #228ddd;
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;

  @include mq(pc) {
    font-size: 26px;
    margin-top: 0;
  }
}

.concept__text {
  color: #333;
  font-size: 15px;
  line-height: 2;
  margin-top: 30px;
}

.concept__button {
  text-align: center;
  margin-top: 29px;
  margin-right: 27px;

  @include mq(pc) {
    margin-top: 36px;
  }

  @include mq(pc) {
    text-align-last: left;
  }

  a {
    color: #f6f7f7;
    font-weight: 700;
    letter-spacing: 3px;
    display: inline-block;
    padding: 9px 53px;
    border-radius: 48px;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  }
}
