@use "sass:map";

$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #2b2b2b;
// $background-base: #fafafa;
$color-key1: #2392db;
// $color-key2: #fabe00;
$color-gradation: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
$background-gradation: linear-gradient(180deg, #eaf4f7 0%, #fff 100%);

$width-inner: calc(1280px - 25px * 2);

$breakpoints: (
  sp: "not screen and (min-width: 768px)",
  tb: "screen and (min-width: 768px) and (max-width: 1024px)",
  pc: "screen and (min-width: 768px)",
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-family: $font-family-ja;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
}

// 共有
.title {
  @include mq(pc) {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  @include mq(tb) {
    margin: 0 33px;
  }
}

.title-main {
  color: #228ddd;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
  display: block;
}

.title-sub {
  color: #228bde;
  font-size: 14px;
  letter-spacing: 2.66px;
  display: block;
  margin-top: 3px;
}

//
.bgc {
  background: $background-gradation;
  padding-bottom: calc(80px - 0.375px);

  @include mq(pc) {
    padding-bottom: 0;
  }
}

// header
.header {
  max-width: calc(100% - 15px * 2);
  margin: 0 auto;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include mq(pc) {
    max-width: calc(1280px - 40px * 2 + 25px * 2);
    margin: 0 auto;
    padding: 0 25px;
  }
}

.header__logo {
  a {
    display: inline-block;
    padding: 24px 0;

    img {
      width: 160px;
      display: block;
    }
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
    align-items: center;
    margin-left: 41px;
    gap: 1px;
  }
}

.header__link {
  display: inline-block;
  padding: 26px 22px 34px;
  font-weight: 500;
}

.header__slide-line {
  display: none;

  @include mq(pc) {
    display: block;
    position: absolute;
    top: 0;
    width: 122px;
    height: 5px;
    background-color: #2082df;
    transition: all 0.3s;
  }
}

.header__button {
  display: none;

  @include mq(pc) {
    display: block;
    color: #f6f7f7;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 9px 51px 9px 54px;
    border-radius: 48px;
    background: $color-gradation;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 3px;
  }
}

.header__open {
}

.drawer-icon {
  width: 40px;
  height: 20px;
  position: relative;
  top: -6px;
  left: -2px;
  z-index: 100;

  &.is-checked {
    .drawer-icon__bar {
      top: 10px;

      &:nth-of-type(1) {
        background: white;
        transform: rotate(-135deg);
      }

      &:nth-of-type(2) {
        display: none;
      }

      &:nth-of-type(3) {
        background: white;
        transform: rotate(-45deg);
      }
    }
  }

  @include mq(pc) {
    display: none;
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  border-radius: 1.5px;
  background: #2082e0;
  transition: all 0.3s linear;

  &:nth-of-type(2) {
    top: 10px;
  }

  &:nth-of-type(3) {
    top: 20px;
  }
}

// drawer
.drawer-content {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  padding-top: 130px;
  padding-bottom: 30px;
  background: linear-gradient(
    180deg,
    rgba(34, 142, 221, 0.9) 0%,
    rgba(43, 198, 201, 0.9) 100%
  );
  z-index: 50;
  transition: all 0.3s linear;

  &.is-checked {
    transform: translateX(0);
  }
}

.drawer-content__logo {
  text-align: center;

  img {
    width: 180px;
  }
}

.drawer-content__menu {
  margin-top: 60.5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.drawer-content__link {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

// mv
.mv {
  max-width: calc(100% - 15px * 2);
  margin: 0 auto;
  margin-top: 13px;

  @include mq(pc) {
    max-width: calc(100% - 30px * 2);
    margin-top: 0;
  }
}

.mv__inner {
  @include mq(pc) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 50px;
    max-width: calc(1120px + 30px * 2);
    margin: 0 auto;
  }
}

.mv__img {
  text-align: center;

  @include mq(pc) {
    margin-top: 23px;
  }

  img {
    width: 398px;

    @include mq(pc) {
      width: 650px;
    }
  }
}

.mv__content {
  text-align: center;

  @include mq(pc) {
    text-align-last: left;
  }
}

.mv__logo {
  margin-top: 40px;

  @include mq(pc) {
    margin-top: 22px;
  }

  img {
    width: 250px;
  }
}

.mv__lead {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;

  @include mq(pc) {
    font-size: 26px;
    margin-top: 24px;
  }
}

.mv__description {
  line-height: 200%;
  margin-top: 20px;
  padding-left: 3px;
}

.mv__button {
  margin-top: 30px;

  a {
    color: #f6f7f7;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    display: inline-block;
    padding: 9px 51px 9px 54px;
    border-radius: 48px;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  }
}

// blog
.blog {
  padding: 60px 38px 60px 30px;

  @include mq(pc) {
    padding: 100px 80px;
  }

  @include mq(tb) {
    padding: 100px 47px;
  }
}

.blog__inner {
  max-width: 360px;
  margin: 0 auto;

  @include mq(pc) {
    max-width: calc(1280px - 80px * 2);
  }
}

.blog__title {
  // @include mq(pc) {
  //   display: flex;
  //   align-items: center;
  //   gap: 25px;
  // }

  // @include mq(tb) {
  //   margin: 0 33px;
  // }
}

.blog__title-main {
  // color: #228ddd;
  // font-family: Montserrat;
  // font-size: 36px;
  // font-weight: 700;
  // letter-spacing: 3.6px;
  // display: block;
}

.blog__title-sub {
  // color: #228bde;
  // font-size: 14px;
  // letter-spacing: 2.66px;
  // display: block;
  // margin-top: 3px;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16.4px;
  margin-top: 45px;

  @include mq(pc) {
    grid-template-columns: repeat(3, 1fr);
    gap: 34px 20px;
    margin-top: 40px;
  }

  @include mq(tb) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
  }
}

.blog__item {
  border-radius: 4px;
  background: var(--rgb-255255255, #fff);
  box-shadow: 5px 7px 34px 0px #f1f1f1;
  padding: 12px 15px 13px;
  margin: 0 auto;
}

.blog__item-img-wrapper {
  position: relative;
}

.blog__item-img {
}

.blog__item-label {
  position: absolute;
  width: 100px;
  background: $color-key1;
  color: var(--rgb-255255255, #fff);
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 3px 32px 4px;
  top: 0;
  right: 0;
}

.blog__item-content {
}

.blog__item-title {
  font-size: 15px;
  font-weight: 700;
  margin-top: 6px;
}

.blog__item-text {
  font-size: 13px;
  margin-top: 5px;
}

.blog__button {
  margin-top: 46px;
  text-align: center;

  @include mq(pc) {
    margin-top: 46px;
    margin-left: 2px;
  }

  @include mq(tb) {
    margin-top: 61px;
    margin-left: 0;
    margin-right: 1px;
  }

  a {
    color: #f6f7f7;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    display: inline-block;
    padding: 9px 51px 9px 54px;
    border-radius: 48px;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  }
}
// news
.news {
  padding: 60px 0;

  @include mq(pc) {
    padding: 114px 0 99px;
    max-width: calc(1280px - 80px * 2);
    margin: 0 auto;
  }
}

.news__inner {
  padding: 0 15px;

  @include mq(pc) {
    padding-left: calc(95px / 1120px * 100%);
    padding-right: calc(95px / 1120px * 100%);
  }
}

.news__title {
  color: #238fdc;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  position: relative;
  margin-left: 2px;

  @include mq(pc) {
    font-size: 36px;
    letter-spacing: 3.6px;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #2bc8c8;
    bottom: -9px;
    left: calc(50% - 2px);
    transform: translateX(-50%);

    @include mq(pc) {
      bottom: -5px;
    }
  }
}

.news__list {
  margin-top: 55px;

  @include mq(pc) {
    margin-top: 65px;
  }
}

.news__item {
  padding: 10.7px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  @include mq(pc) {
    flex-direction: row;
    align-items: center;
    gap: 0;
    padding: 12px 0;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #e3e3e3;
  }
}

.news__date {
  color: #333;
  font-size: 14px;

  @include mq(pc) {
    font-size: 16px;
    width: 149px;
    flex-shrink: 0;
    white-space: nowrap;
  }
}

.news__headline {
  color: #111;
  font-size: 15px;

  @include mq(pc) {
    font-size: 16px;
  }
}

.news__controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(pc) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }
}

.news__pagination {
  margin-top: 46px;
  display: flex;
  gap: clamp(6px, calc((20 - 6) / (428 - 320) * (100vw - 320px) + 6px), 20px);
  justify-content: center;

  @include mq(pc) {
    margin-top: 0;
    justify-content: left;
  }
}

.news__pagination-button {
  color: #707070;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.44px;
  width: 36px;
  height: 36px;
  flex-shrink: 0;

  border: 1px solid var(--828282, #828282);
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__pagination-button--current {
  color: #fff;
  background: #228ddd;
  border: 0;
}

.news__archive {
  color: $color-key1;
  font-weight: 700;
  letter-spacing: 3px;
  display: block;
  width: fit-content;
  padding: 4px 21px 4px 23px;
  border-radius: 2px;
  border: 1px solid $color-key1;
  box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  margin-top: 30px;

  @include mq(pc) {
    margin: 0;
  }
}

// concept
.concept {
  padding: 60px 0;
  background: #f4fbff;

  @include mq(pc) {
    padding: 100px 0;
  }
}

.concept__inner {
  padding: 0 20px;

  @include mq(pc) {
    padding: 0 30px;
    max-width: calc(980px + 30px * 2);
    margin: 0 auto;
  }
}

.concept__wrapper {
  @include mq(pc) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    // gap: 80px;
    gap: clamp(10px, 6.25vw, 80px);
  }
}

.concept__img {
  text-align: center;

  img {
    width: 310px;

    @include mq(pc) {
      width: 450px;
    }
  }
}

.concept__content {
}

.concept__title {
  color: #228ddd;
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;

  @include mq(pc) {
    font-size: 26px;
    margin-top: 0;
  }
}

.concept__text {
  color: #333;
  font-size: 15px;
  line-height: 2;
  margin-top: 30px;
}

.concept__button {
  text-align: center;
  margin-top: 29px;
  margin-right: 27px;

  @include mq(pc) {
    margin-top: 36px;
  }

  @include mq(pc) {
    text-align-last: left;
  }

  a {
    color: #f6f7f7;
    font-weight: 700;
    letter-spacing: 3px;
    display: inline-block;
    padding: 9px 53px;
    border-radius: 48px;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);

    @include mq(sp) {
      @include mq(sp) {
        padding: 9px
          clamp(
            40px,
            calc((53 - 40) / (428 - 320) * (100vw - 320px) + 40px),
            53px
          );
      }
    }
  }
}

// seminar
.seminar {
  margin-top: 60px;
  margin-bottom: 60px;

  @include mq(pc) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.seminar__inner {
  padding-left: 15px;
  padding-right: 15px;

  @include mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc(1080px + 30px * 2);
    margin: 0 auto;
  }

  .title {
    padding-left: 15px;
    padding-right: 15px;

    @include mq(pc) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.seminar__list {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 36px;

  @include mq(pc) {
    gap: 40px;
    margin-top: 38px;
  }
}

.seminar__item {
  padding: 23px 12px 30px;
  border-radius: 6px;
  border: 0px solid #707070;
  background: var(--rgb-255255255, #fff);
  box-shadow: 5px 7px 34px 0px #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(pc) {
    flex-direction: row;
    gap: 30px;
    padding: 24px;
    align-items: start;
  }
}

.seminar__img {
  @include mq(pc) {
    flex: 0 0 calc(324 / (1080 - 24 * 2) * 100%);
  }

  img {
    width: 324px;
  }
}

.seminar__content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @include mq(pc) {
    flex: 1;
    margin-top: 0;
  }
}

.seminar__date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.seminar__date-label {
  border-radius: 2px;
  background: $color-key1;
  color: var(--rgb-255255255, #fff);
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  padding: 6px 12px 6px;
}

.seminar__date-text {
  color: var(--rgb-515151, #333);
  font-weight: 500;
  margin-top: 1px;
}

.seminar__headline {
  color: var(--rgb-515151, #333);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-top: 12px;
}

.seminar__text {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
}

.seminar__detail-link {
  color: $color-key1;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid $color-key1;
  padding: calc(8px - 1px) calc(44px - 1px);
  align-self: end;
  margin-top: 26px;

  @include mq(pc) {
    margin-top: 20px;
  }
}

.seminar__button {
  text-align: center;
  margin-top: 46px;
  margin-left: 4px;

  @include mq(pc) {
    margin-top: 40px;
    margin-left: 0;
  }

  a {
    color: #f6f7f7;
    font-weight: 700;
    letter-spacing: 3px;
    display: inline-block;
    padding: 9px 53.5px;
    border-radius: 48px;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  }
}

// price
.price {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f4fbff;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.price__inner {
  padding-left: 30px;
  padding-right: 30px;

  @include mq(pc) {
    max-width: calc(1280px - 160px * 2 + 30px * 2);
    margin: 0 auto;
  }
}

.price__list {
  margin-top: 46px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(pc) {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    flex-direction: row;
    // gap: 30px;
    gap: clamp(
      20px,
      calc((30 - 20) / (960 - 768) * (100vw - 768px) + 20px),
      30px
    );
  }
}

.price__item {
  flex: 1;
}

.price-card {
  border-radius: 10px;
  border: 0px solid #707070;
  background: var(--rgb-255255255, #fff);
  padding: 30px 20px;

  @include mq(pc) {
    padding: 30px
      clamp(10px, calc((20 - 10) / (960 - 768) * (100vw - 768px) + 10px), 20px);
  }
}

.price-card__title {
  color: $color-key1;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.price-card__price {
  margin-top: 10px;
  color: $color-key1;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 3.6px;
  text-align: center;

  &-label {
    color: var(--rgb-515151, #333);
    font-size: 16px;
    font-weight: 700;
    line-height: 170%;
    vertical-align: 4px; /* px単位で上に移動 */
  }
}

.price-card__table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    vertical-align: middle;
  }

  tr {
    height: 39px;
    border-bottom: 1px solid #c2c2c2;
  }

  th {
    text-align-last: left;
    padding-left: 11px;
  }

  td {
    text-align: right;
    padding-right: 12px;
  }
}

.price-card__button {
  text-align: center;
  margin-top: 30px;

  button {
    color: #f6f7f7;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    padding: 9px 52px;
    border-radius: 50px;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  }
}

// cta
.cta {
  background: linear-gradient(90deg, #2390dc 0%, #2bc8c8 100%);
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 80px;
    padding-bottom: 79px;
  }
}

.cta__inner {
  text-align: center;
}

.cta__lead {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2.6px;
  line-height: 44px;
}

.cta__text {
  margin-top: 8px;
  color: #fff;
  letter-spacing: 1.6px;
  line-height: 27px;
}

.cta__button {
  margin-top: 18px;

  @include mq(pc) {
    margin-top: 17px;
  }

  a {
    display: inline-block;
    color: #f6f7f7;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 27px;
    text-align: center;
    padding: calc(9px - 2px) calc(53px - 2px);
    border-radius: 50px;
    border: 2px solid #fff;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  }
}

// qanda
.qanda {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f4fbff;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 121px;
  }
}

.qanda__inner {
  @include mq(pc) {
    padding: 0 30px;
    max-width: calc(800px + 30px * 2);
    margin: 0 auto;
  }
}

.qanda__title {
  font-size: 36px;

  &::after {
    bottom: -5px;
    left: 50%;
  }
}

.qanda__list {
  margin-top: 51px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include mq(pc) {
    margin-top: 48px;
    gap: 20px;
  }
}

.qanda__item {
}

.qanda-box {
  padding: 0 15px;
  transition: all 0.3s;

  @include mq(pc) {
    padding: 0;
  }

  &[open] {
    .qanda-box__q::after {
      transform: translateY(-50%) rotate(0deg);
    }
  }
}

.qanda-box__q {
  // list-style: none;
  display: flex;
  border-radius: 10px;
  background: var(--rgb-255255255, #fff);
  position: relative;

  &::marker {
    display: none;
  }

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: #2392db;
    border-radius: 1px;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    right: 10px;

    @include mq(pc) {
      right: 14px;
    }
  }

  &::after {
    transform: rotate(-90deg);
    transition: all 0.3s;
  }
}

.qanda-box__q-icon {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 10px 0px 0px 10px;
  background: #238fdc;
  width: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;

  @include mq(pc) {
    width: 71px;
  }
}

.qanda-box__q-text {
  font-size: 15px;
  line-height: 26px;
  padding: 10px 42px 10px 10px;
  flex-grow: 1;

  @include mq(pc) {
    font-size: 16px;
    line-height: 169%;
    padding: 12px 55px 12px 14px;
  }
}

.qanda-box__a {
  margin-top: 12px;
  padding-left: 20px;

  @include mq(pc) {
    margin-top: 6px;
    padding-left: 41px;
  }
}

.qanda-box__a-text {
  font-size: 14px;
  line-height: 24px;
  padding: 10px;
  border-radius: 10px;
  background: #fff;

  @include mq(pc) {
    font-size: 16px;
    line-height: 169%;
    padding: 12px 14px;
  }
}
