@use "sass:map";

$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #2b2b2b;
// $background-base: #fafafa;
// $color-key1: #f5810e;
// $color-key2: #fabe00;
$color-gradation: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
$background-gradation: linear-gradient(180deg, #eaf4f7 0%, #fff 100%);

$width-inner: calc(1280px - 25px * 2);

$breakpoints: (
  sp: "not screen and (min-width: 768px)",
  pc: "screen and (min-width: 768px)",
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-family: $font-family-ja;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
}

.bgc {
  background: $background-gradation;
  padding-bottom: 80px;
}

// header
.header {
  max-width: calc(100% - 15px * 2);
  margin: 0 auto;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include mq(pc) {
    max-width: $width-inner;
    margin: 0 auto;
    padding: 0 30px;
  }
}

.header__logo {
  a {
    display: inline-block;
    padding: 24px 0;

    img {
      width: 160px;
      display: block;
    }
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
    align-items: center;
  }
}

.header__link {
  display: inline-block;
  padding: 26px 22px;
  font-weight: 500;
}

.header__slide-line {
  display: none;

  @include mq(pc) {
    display: block;
    position: absolute;
    top: 0;
    width: 122px;
    height: 5px;
    background-color: #2082df;
    transition: all 0.3s;
  }
}

.header__button {
  display: none;

  @include mq(pc) {
    display: block;
    color: #f6f7f7;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 9px 54px;
    border-radius: 48px;
    background: $color-gradation;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  }
}

.header__open {
}

.drawer-icon {
  width: 40px;
  height: 20px;
  position: relative;
  top: -1.5px;
  left: -1.5px;

  @include mq(pc) {
    display: none;
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;

  &:nth-of-type(2) {
    top: 10px;
  }

  &:nth-of-type(3) {
    top: 20px;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

// mv
.mv {
  max-width: calc(100% - 15px * 2);
  margin: 0 auto;

  @include mq(pc) {
    max-width: calc(100% - 30px * 2);
  }
}

.mv__inner {
  @include mq(pc) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 31px 30px 50px;
    max-width: calc(1120px + 30px * 2);
    margin: 0 auto;
  }
}

.mv__img {
  text-align: center;
  margin-top: 20px;

  img {
    width: 398px;

    @include mq(pc) {
      width: 650px;
    }
  }
}

.mv__content {
  text-align: center;

  @include mq(pc) {
    text-align-last: left;
  }
}

.mv__logo {
  margin-top: 40px;

  img {
    width: 250px;
  }
}

.mv__lead {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;

  @include mq(pc) {
    font-size: 26px;
    margin-top: 24px;
  }
}

.mv__description {
  line-height: 200%;
  margin-top: 20px;
}

.mv__button {
  margin-top: 30px;

  a {
    color: #f6f7f7;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    display: inline-block;
    padding: 9px 54px;
    border-radius: 48px;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  }
}
